<mat-grid-list cols="4" rowHeight="350px" gutterSize="20px">
    <mat-grid-tile *ngFor="let playlist of playlists">
        <div>
            <div class="content z-depth-2" [ngStyle]="{'background-image': 'url(' + playlist.images[0].url + ')' }">
                <div class="content-overlay"></div>
                <div class="content-details valign-wrapper">
                    <i class="large material-icons">list</i>
                    <i class="large material-icons" (click)="data_service.openSnackBar(playlist)">add</i>
                </div>
            </div>
            <p class="center-align">{{playlist.name}}</p>
        </div>
    </mat-grid-tile>
</mat-grid-list>