.mat-grid-tile {

    width: 100%;

    div {

        height: 300px;
        width: 300px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    div.default {

        background-image: url(../../../assets/default_playlist.svg);
        background-size: 50%;
    }

    div.artist {

        border-radius: 50%;

        .content-overlay {

            border-radius: 50%;
        }
    }

    p {

        font-family: var(--font-family);
        color: white;
        font-size: 20px;
        text-align: center;
    }
}

.content-overlay {

    background: rgba(0,0,0,0.7);
    width: 250px;
    height: 250px;
    opacity: 0;
    transition: all 0.4s ease-in-out 0s;
}


.content:hover {

    .content-overlay {

        opacity: 1;
    }

    .content-details {

        top: 50%;
        left: 50%;
        opacity: 1;
    }
}

.content-details {

    font-weight: 100;
    position: absolute;
    padding-left: 1em;
    padding-right: 1em;
    width: 100%;
    top: 50%;
    left: 50%;
    opacity: 0;
    transform: translate(-50%, -50%);
    transition: all 0.3s ease-in-out 0s;

    i {

       margin: auto;
    }

    i:hover {

        color: #00E676;
        cursor: pointer;
    }
}

.mat-grid-list {

    width: 100%;
    margin: 0 auto 50px;
}
