<mat-list>
  <mat-grid-list cols="1" rowHeight="500px">
    <mat-grid-tile>
        <div>
          <div *ngIf="details.images[0] !== undefined" class="content z-depth-2"  [ngStyle]="{'background-image': 'url(' + details.images[0].url + ')' }">
          </div>
          <div class="content valign-wrapper z-depth-2" *ngIf="details.images[0] == undefined">
          </div>
        </div>
    </mat-grid-tile>
  </mat-grid-list>
</mat-list>
<h4 class="center-align">{{details.name}}</h4>

<h4 id="name" class="center-align" (click)="get_artist(details.artists[0].id)">{{details.artists[0].name}}</h4>

<app-album-song-list [songs]="details.tracks.items" [album_name]="details.name"></app-album-song-list>



