h4 {

    font-family: var(--font-family);
    color: white;
    
    text-align: center;
}

#name {

    cursor: pointer;
}

#name:hover {

    color: #00E676;
}

.mat-grid-tile {

    div {

        height: 400px;
        width: 400px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    div.default {

        background-image: url(../../../assets/default.svg);
        background-size: 50%;
    }

}
