<div class="wrapper">
  <div class="choice">
    <div class="icons">
        <i class="material-icons" id="web">web</i>
    </div>
    <div class="text">Try out our online version of the app!</div> 
    <a id="web-app" class="action-button" href="/login">Try online version</a>
  </div>
  <div class="choice">
    <div id="spotify-logo"></div>
    <div class="text">Connect your Spotify account for further details</div> 
    <a id="spotify-login" class="action-button" href="/login">Connect to Spotify</a>
  </div>
  <div class="choice">
    <div class="icons">
        <i class="material-icons" id="computer">desktop_windows</i>
    </div>
    <div class="text">Not a web fan? Check out our desktop verion!</div> 
    <a id="desktop-download" class="action-button" href="/login">Download Desktop Version</a>
  </div>
</div>