<div class="container">
  <div class="row">
    <div class="input-field col s12">
      <i class="material-icons prefix">search</i>
      <input id="search" type="text" [(ngModel)]="value" (keydown)="get_songs()">
      <label for="search">Search Music</label>
      <i id="close" *ngIf="value" (click)="value=''" class="material-icons prefix">clear</i>
    </div>
  </div>
</div>

<mat-tab-group mat-align-tabs="center" *ngIf="options['playlists'].data.length > 0" (selectedTabChange)="tab_changed($event)">
  <mat-tab label="Playlists">
    <app-playlists [playlists]="options.playlists.data"></app-playlists>
  </mat-tab>
  <mat-tab label="Songs">
    <app-song-list [songs]="options.songs.data"></app-song-list>
  </mat-tab>
  <mat-tab label="Albums">
    <app-albums [albums]="options.albums.data"></app-albums>
  </mat-tab>
  <mat-tab label="Artists">
    <app-artists [artists]="options.artists.data"></app-artists>
  </mat-tab>
</mat-tab-group>