h2 {

    font-size: 25px;
    font-weight: normal;

    margin-left: 20px;
    margin-bottom: 30px;

    color: rgba(255, 255, 255, 0.7);
}

h2:first-child {

    margin-top: 50px;
}

.rec-card {

    width: 200px;
    height: 200px;
    
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    .rec-title {

        width: 200px;
        height: 60px;

        backdrop-filter: blur(30px);

        background-color: rgba(0, 187, 188, 0.2);

        position: absolute;
        bottom: 0px;

        p {

            font-size: 18px;
            font-family: 'Varela Round';
        }
    }
}

app-song-list {

    width: 60%;
    
}

#top-playlists {

    width: 100%;
    height: 100%;
    margin: 0px auto;
    margin-bottom: 20px;

    .playlist-cover {

        width: 230px;
        height: 230px;

        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
}