<div class="container">
  <h2 class="left-align">Top Artists</h2>
  <div class="carousel">
      <a class="carousel-item" *ngFor="let item of top_choices.top_artists.items" >
        <div [ngStyle]="{'background-image': 'url(' + item.images[0].url + ')' }"></div>
        <p class="center-align">{{item.name}}</p>
      </a>
  </div>
  <h2 class="left-align">Top Tracks</h2>
</div>
<mat-grid-list cols="2" rowHeight="500px">
    <mat-grid-tile>
        <div class="container">
                <div class="content z-depth-2" [ngStyle]="{'background-image': 'url(' + main_frame.image + ')' }">
                    <div class="content-overlay"></div>
                    <div class="content-details valign-wrapper">
                        <i class="large material-icons">list</i>
                        <i class="large material-icons" (click)="data_service.openSnackBar(main_frame)">add</i>
                    </div>
                </div>
            <p class="center-align" id="name">{{main_frame.name}}</p>
            <p class="center-align" id="band">{{main_frame.artist}}</p>
        </div>
    </mat-grid-tile>
    <mat-grid-tile>
        <cdk-virtual-scroll-viewport itemSize="20" class="example-viewport">
            <mat-list>
                <mat-list-item *cdkVirtualFor="let song of top_choices.top_tracks.items" (click)="change_track(song)">
                    <mat-icon matListIcon>music_note</mat-icon>
                    <span matLine class="name truncate">{{song.name}}</span>
                    <span class="duration">{{song.duration_ms}}</span>
                    <span matLine class="description truncate"><span>{{song.artists[0].name}}</span> | <span>{{song.album.name}}</span></span>
                    <i class="material-icons" (click)="data_service.openSnackBar(song)">add</i>
                </mat-list-item>
            </mat-list>
        </cdk-virtual-scroll-viewport>
    </mat-grid-tile>
  </mat-grid-list>
  
