<h2>You Have Stalked</h2>

<mat-grid-list cols="4" rowHeight="250px">
    <mat-grid-tile *ngFor="let item of top_choices.top_artists.items">
        <div class="rec-card" [ngStyle]="{'background-image': 'url(' + item.images[0].url + ')' }">
            <div class="rec-title">
                <p class="center-align">{{item.name}}</p>
            </div>
        </div>
    </mat-grid-tile>
</mat-grid-list>

<h2>Your Poison Has Been</h2>

<app-song-list [songs]="top_choices.top_tracks.items"></app-song-list>

<h2>Some Of Your Playlists</h2>

<mat-grid-list id="top-playlists" cols="3" rowHeight="250px" gutterSize="10px">
    <mat-grid-tile *ngFor="let playlist of top_choices.playlists.items">
        <div class="playlist-cover" [ngStyle]="{'background-image': 'url(' + playlist.images[0].url + ')' }"></div>
    </mat-grid-tile>
</mat-grid-list>