<mat-sidenav-container class="container" (backdropClick)="close('backdrop')">
  <mat-sidenav #sidenav mode="over" (keydown.escape)="close('escape')" disableClose>
    <button mat-button (click)="close('toggle button')">Toggle</button>
    <mat-list>
      <mat-divider></mat-divider>
      <mat-list-item (click)="logout()">Logout<mat-icon mat-list-icon color="primary">power_settings_new</mat-icon></mat-list-item>
    </mat-list>
  </mat-sidenav>

  <mat-sidenav-content>
      <button mat-fab (click)="sidenav.open()" color="primary">
          <mat-icon [inline]="true">menu</mat-icon>
      </button>
    <app-web-downloader></app-web-downloader>
  </mat-sidenav-content>
</mat-sidenav-container>