.container {
    
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.mat-sidenav {

    width: 20%;
    background-color: var(--spotify-black);

}

.mat-sidenav-content {

    button {

        position: fixed;
        left: 10px;
        top: 15px;

        .mat-icon{

            font-size: 25px;
             
        }
    }
}

.mat-list-item {

    cursor: pointer;

    
}
  