<div class="row">
  <div class="col l4 m3" *ngFor="let playlist of playlists_to_download">
    <mat-card class="card">
      <img mat-card-image src="{{playlist.image}}">
      <div style="position: relative; width: 0; height: 0">
        <button mat-mini-fab class="halfway">
            <mat-icon>arrow_downward</mat-icon>
        </button>
      </div>
      <mat-card-header class="truncate">
        <mat-card-title>{{playlist.name}}</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                   Song List
                  </mat-panel-title>
            </mat-expansion-panel-header>
          
            <p>This is the primary content of the panel.</p>
          
          </mat-expansion-panel>
      </mat-card-content>
    </mat-card>
  </div>
</div>

<div class="row">
    <div class="col l4 m3" *ngFor="let album of albums_to_download">
      <mat-card class="card">
        <img mat-card-image src="{{album.image}}">
        <div style="position: relative; width: 0; height: 0">
          <button mat-mini-fab class="halfway">
              <mat-icon>arrow_downward</mat-icon>
          </button>
        </div>
        <mat-card-header class="truncate">
          <mat-card-title>{{album.name}}</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <mat-expansion-panel>
              <mat-expansion-panel-header>
                  <mat-panel-title>
                     Song List
                    </mat-panel-title>
              </mat-expansion-panel-header>
            
              <p>This is the primary content of the panel.</p>
            
            </mat-expansion-panel>
        </mat-card-content>
      </mat-card>
    </div>
  </div>

<div class="container">
  <ul class="collapsible popout">
    <li *ngFor="let song of display_songs">
      <div class="collapsible-header valign-wrapper">
        <mat-list>
            <mat-list-item>
                <mat-icon matListIcon>music_note</mat-icon>
                <span class="name" matLine>{{song.song.name}}</span>
                <span class="description" matLine><span>{{song.song.artists[0].name}}</span> | <span>{{song.song.album.name}}</span></span>
              </mat-list-item>
        </mat-list>
        <i class="material-icons" (click)="get_options(song)">arrow_drop_down</i>
        <i class="material-icons" (click)="remove(song)">remove</i>
      </div>
      <div class="collapsible-body">
        <div *ngIf="!song.loaded" class="progress">
          <div class="indeterminate"></div>
        </div>
        <div *ngIf="song.loaded">
            <mat-radio-group [(ngModel)]="song.checked_id">
              <ul class="collection">
                <li class="collection-item avatar" *ngFor="let option of song.options">
                  <img src="{{option.thumbnails.default.url}}" alt="" class="circle">
                  <p class="truncate title">{{option.title}}</p>
                  <mat-radio-button color="primary" class="secondary-content" [value]="option.id"></mat-radio-button>
                </li>
              </ul>
            </mat-radio-group>
        </div>
      </div>
    </li>
  </ul>
</div>

<div id="download"  class="fixed-action-btn">
  <a class="btn-floating btn-large">
    <i class="large material-icons">get_app</i>
  </a>
  <ul>
    <li>
        <a class="btn-floating tooltipped" data-position="top" data-tooltip="Download Albuns">
          <i class="material-icons">album</i>
        </a>
    </li>
    <li>
      <a class="btn-floating darken-1 tooltipped" data-position="bottom" data-tooltip="Download Playlists">
        <i class="material-icons">queue_music</i>
      </a>
    </li>
    <li>
      <a class="btn-floating tooltipped" data-position="top" data-tooltip="Download Songs" (click)="download()">
        <i class="material-icons">music_note</i>
      </a>
    </li>
    <li>
      <a class="btn-floating tooltipped" data-position="bottom" data-tooltip="Download All">
        <i class="material-icons">arrow_downward</i>
      </a>
    </li>
  </ul>
</div>