.description {

    font-size: 14px;
    opacity: 0.6;
}

.collapsible li:hover {

    .mat-icon, span.name {

        color: #00E676;
    }
}

.mat-list {

    width: 100%;

    .mat-list-item {

        cursor: pointer;
        width: 100%;
       
        .mat-icon {
    
            display: inline;
        }
    }
    
}


.collapsible {

    border: none;

    .collapsible-header {

        background-color: transparent;
        border: none;
        width: 100%;

        i {

            position: relative;
            right: 0px;
         }
     
         i:hover {
     
             color: #00E676;
             cursor: pointer;
         }
    }

    .collapsible-body {

        border: none;
    }
}

.collection-item {

    background-color: transparent !important;
    border: none;
}

#download {

    position: fixed;
    bottom: 50px;
    right: 20px;

    font-size: 25px;

    a:first-child {

        background-color: var(--spotify-green);
    }

    ul {

        li:nth-child(1) a {

            background-color: #008D5D;
        }

        li:nth-child(2) a {

            background-color: rgb(0, 179, 119);
        }

        li:nth-child(3) a {

            background-color: #24C490;
        }

        li:nth-child(4) a {

            background-color: #29D9C2;
        }
    } 
}

.card {

   max-width: 300px;
   background-color: var(--spotify-black);

   
}

button.halfway {

    position: absolute;
    bottom: 0px;
    left: 220px;
    background-color: #29D9C2;
    color: white;
}
