/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Roboto:400,700');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

@import "./theme.scss";

:root {

    --spotify-black: #231E1E;
    --spotify-green: #1DB954;
    --forth-color: #008D5D;
    --fifth-color: #24C490;
    --font-family: 'Roboto', sans-serif;
}


html, body {

    width: 100% !important;
}

body {

    background-image: url(./assets/neon.webp)!important;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    height: 100vh; 
}

::-webkit-scrollbar
{
  width: 3px;  
  height: 3px;
  border-radius: 2px;
}

::-webkit-scrollbar-thumb
{
  background: rgba(41, 217, 194, 0.7);
}

.grey-snackbar {

    background: var(--spotify-black) !important;
    color: white !important;
}
