<mat-grid-list cols="3" rowHeight="450px" gutterSize="20px">
  <mat-grid-tile *ngFor="let album of albums">
    <div>
      <div class="content z-depth-2" [ngStyle]="{'background-image': 'url(' + album.images[0].url + ')' }">
          <div class="content-overlay"></div>
          <div class="content-details valign-wrapper">
              <i class="medium material-icons">album</i>
              <i class="medium material-icons" (click)="data_service.openSnackBar(album)">add</i>
          </div>
      </div>
      <p class="center-align truncate">{{album.name}}</p>
  </div>
  </mat-grid-tile>
</mat-grid-list>