<mat-sidenav-container>
  <mat-sidenav #sidenav mode="side" opened disableClose>
    <mat-list>
      <h2 matSubheader>Your Space</h2>
      <mat-list-item [routerLink]="['profile']" routerLinkActive="active">Home<mat-icon mat-list-icon color="primary">home</mat-icon></mat-list-item>
      <mat-list-item [routerLink]="['artists']" routerLinkActive="active">Artists<mat-icon mat-list-icon color="primary">group</mat-icon></mat-list-item>
      <mat-list-item [routerLink]="['albums']" routerLinkActive="active">Albums<mat-icon mat-list-icon color="primary">album</mat-icon></mat-list-item>
      <mat-list-item [routerLink]="['playlists']" routerLinkActive="active">Playlists<mat-icon mat-list-icon color="primary">queue_music</mat-icon></mat-list-item>
      <mat-list-item [routerLink]="['songs']" routerLinkActive="active">Songs<mat-icon mat-list-icon color="primary">music_note</mat-icon></mat-list-item>
      <!-- <mat-list-item [routerLink]="['#']" routerLinkActive="active">Settings<mat-icon mat-list-icon color="primary">settings</mat-icon></mat-list-item> -->
      <h2 matSubheader>Explore</h2>
      <mat-list-item [routerLink]="['search']" routerLinkActive="active"><p>Browse</p><mat-icon mat-list-icon color="primary">language</mat-icon></mat-list-item>
      <mat-list-item [routerLink]="['download']" routerLinkActive="active"><p>Download</p><mat-icon mat-list-icon color="primary">get_app</mat-icon></mat-list-item>
      <mat-list-item id="logout" (click)="logout()">Log Out<mat-icon mat-list-icon>power_settings_new</mat-icon></mat-list-item>
    </mat-list>
  </mat-sidenav>

  <mat-sidenav-content>
      <router-outlet></router-outlet>
      <!-- <div id="profile-wrapper" class="valign-wrapper">
          <p>{{user.display_name}}</p>
          <div *ngIf="loaded" [ngStyle]="{'background-image': 'url(' + user.images[0].url + ')'}">
          </div>
          <mat-icon>arrow_drop_down</mat-icon>
      </div> -->
      
  </mat-sidenav-content>
</mat-sidenav-container>